@import "globalstyle.css";
@import "variables.css";

body {
  background-color: var(--main-color-purple);
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.px-20 {
  padding: var(--twenty-px);
}
h1 {
  color: var(--main-color-blue);
}

/*********************/
/****** Header *******/
/*********************/
header {
  background-color: var(--main-color-black);
}

/*** First header ***/
.header-first {
  display: grid;
  grid-template-columns: 100%;
  padding: var(--twenty-px) var(--twenty-px);
  gap: var(--twenty-px);
  justify-content: center;
  background-color: var(--main-color-grey);
}

.header-first div,
.header-first nav {
  background-color: var(--main-color-red);
}
.logo,
.nav,
.social {
  padding: var(--ten-px);
}

/*** Second header ***/
.header-second {
  margin-top: var(--twenty-px);
  display: grid;
  grid-template-columns: 100%;
  padding: var(--twenty-px);
  gap: var(--twenty-px);
  justify-content: center;
  background-color: var(--main-color-orange);
}

.header-second div {
  background-color: var(--main-color-yellow);
}
.banner {
  padding: var(--ten-px);
}

/*********************/
/*** First Section ***/
/*********************/
.section-first {
  display: grid;
  margin-top: var(--twenty-px);
  grid-template-columns: 100%;
  background-color: var(--main-color-black);
}

.column-first {
  display: grid;
  grid-template-columns: 100%;
  padding: var(--twenty-px);
  gap: var(--twenty-px);
  background-color: var(--main-color-grey);
  margin-bottom: 20px;
}
.first-article,
.second-article,
.third-article,
.fourth-article,
.navegacion {
  padding: var(--ten-px);
}
.navegacion {
  grid-column: 1;
  background-color: var(--main-color-blue-light);
}
.first-article,
.second-article,
.third-article,
.fourth-article {
  background-color: var(--main-color-blue);
}

.column-second {
  background-color: var(--main-color-red);
  display: grid;
  grid-template-columns: 100%;
  padding: var(--twenty-px);
  gap: var(--ten-px);
}
.column-second span {
  padding: var(--ten-px);
  background-color: var(--main-color-yellow);
}

@media (min-width: 768px) {
  body {
    background-color: var(--main-color-pink);
  }

  .column-first {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: var(--twenty-px);
    gap: var(--twenty-px);
    background-color: var(--main-color-grey);
    padding-right: 40px;
  }
  .navegacion {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: var(--main-color-green);
  }
  .header-first {
    grid-template-columns: 20% 60% 20%;
    padding: var(--twenty-px) 40px;
  }
  .section-first {
    margin-top: var(--twenty-px);
    grid-template-columns: 80% 20%;
    background-color: var(--main-color-black);
  }
  .column-first {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: var(--twenty-px);
    gap: var(--twenty-px);
    background-color: var(--main-color-grey);
    margin-right: 20px;
    padding-right: 40px;
    margin-bottom: 0;
  }
  .column-second {
    background-color: var(--main-color-red);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25%;
    padding: var(--twenty-px);
    gap: var(--ten-px);
  }
}

/*********************/
/****** Footer *******/
/*********************/
footer {
  margin-top: var(--twenty-px);
  background-color: var(--main-color-black);
  color: red;
}
.pie {
  background-color: var(--main-color-yellow);
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

/*** Animation Logo ***/
.logo {
  cursor: pointer;
  transform: scale(1);
  background-color: var(--main-color-red);
}

.logo:hover {
  animation-name: logoanimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes logoanimation {
  0% {
    background-color: var(--main-color-red);
    transform: scale(1);
  }
  100% {
    background-color: var(--main-color-pink);
    transform: scale(1.2);
  }
}
